@media only screen and (max-width: 600px), only screen and (max-device-width: 600px)
{



    #publicidad,#noticias
    {
        display:block;
    }



    .slider-wrapper{
        display:block;

    }
    #myvideo{
        width: 70%;
        height: 40%;
    }
    .myimage{
        width: 70%;
        height: 40%;
    }
}

