a, article, audio,
b, body,
center, canvas, caption, cite, code,
datalist, details, dfn, dl, div, 
fieldset, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, img, label, legend, li, 
nav, ol, p, section, small, span, source, strong,
table, tbody, tfoot, thead, th, tr, tdvideo,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top; }

ol, ul {
	list-style: none;
}


img {
	vertical-align:top; 
}
/********Reponsive***********/

