
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Propiedades Globales ======================================================== */
html {width:100%; height:100%;}

body {font-family:Arial, Helvetica, sans-serif;font-size:100%;color:#7f7f7f;min-width:960px;height:100%;background:url(../images/body-bg.jpg) center top repeat #151515}

.main-bg {width:100%; min-height:100%; background:url(../images/bg-2.jpg) center top repeat-x;}
.bg {width:100%; min-height:100%; background:url(../images/bg.jpg) center top no-repeat;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:13px;
	line-height:24px;
}

a {color:#b22300; outline:none;}
a:hover {text-decoration:none;}

.wrapper {width:100%; overflow:hidden;}

 
p {margin-bottom:18px;}



.fright {float:right;}

.indent {padding:41px 30px 0 0;}

.menu li a,
.list-1 li a,
.link,
.button,
h1 a {text-decoration:none;}	

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

h1 {
	padding:45px 20px 37px 26px; 
	background:url(../images/h1-bg.jpg) 0 0 no-repeat;
	float:left;
}
	h1 a {
		display:block;
		width:230px;
		height:55px;
		text-indent:-999em;
		background:url(../images/logo2.png) 0 0 no-repeat;
	}
.slogan {
	display:block;
	font-size:14px;
	line-height:28px;
	text-align:right;
	color:#b22300;
}
.slogan-1 {
	display:block;
	font-size:25px;
	line-height:30px;
	text-align:right;
	color:#fff;
	margin-top:-5px;
}
	
/***** menu *****/
header nav {
	width:100%;
	height:52px;
	background:url(../images/menu-bg.jpg) 0 0 no-repeat;
	overflow:hidden;
}
	#page1 header nav {margin-bottom:28px;}

.menu li {
	float:left; 
	position:relative;
	background:url(../images/menu-spacer.gif) left top no-repeat;
}
	.menu > li:first-child {background:none;}
.menu li a {
	display:inline-block; 
	font-size:18px; 
	line-height:25px; 
	padding:12px 28px 12px 29px; 
	color:#808080; 
	text-transform:capitalize; 
}
	.menu > li:first-child > a {
		text-indent:-999em;
		background:url(../images/menu-home.png) center -25px no-repeat;
		min-width:22px;
	}
.menu li a.active,
.menu > li > a:hover {color:#fff;}
.menu > li:first-child > a.active,
.menu > li:first-child > a:hover {background-position:center 15px;}

/***** slider *****/
.slider-wrapper {
	width:960px;
	height:400px;
	overflow:hidden;
	position:relative;
}
.slider {
	width:960px;
	height:400px;
}
.items {display:none;}

.prev,
.next {
	display:block;
	width:80px;
	height:400px;
	text-indent:-9999em;
	position:absolute;
	z-index:99;
	top:50%;
	margin-top:-200px;
}
.prev {background:url(../images/slider-prev.png) 0 0 no-repeat; left:0;}
.next {background:url(../images/slider-next.png) 0 0 no-repeat; right:0;}

/*********************************content*************************************/
#content {
	width: 90%;
  max-width: 951px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
  padding: 1em;
  
  
}



h2 {
	font-size:30px; 
	line-height:1.2em; 
	color:#fff;
	font-weight:normal;
	letter-spacing:-1px;
	margin-bottom:9px;
}
h3 {
	font-size:25px; 
	line-height:2em; 
	color:#fff;
	margin-bottom:2px;
}
	h3 strong {display:block; margin-top:-25px;}
h4 {
	font-size:18px;
	line-height:25px;
	color:#f0f0f0;
	font-weight:normal;
	margin-bottom:8px;
}
h6 {color:#fff; font-weight:normal; margin-bottom:3px;}

.button {
	display:inline-block; 
	padding:5px 15px 6px;
	font-size:13px;
	line-height:1.23em;
	font-weight:bold;
	color:#000; 
	background:url(../images/button-tail.gif) 0 0 repeat-x #fb4400;
	cursor:pointer;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.button:hover {background:#fb4400; color:#fff;}



.link:hover {text-decoration:underline;} 

/***** contact form *****/
#contact-form {
	display:block;
	width:100%;
}
	#contact-form label {
		display:block; 
		height:34px; 
		overflow:hidden;
	}
	#contact-form input {
		float:left; 
		width:259px; 
		font-size:13px; 
		line-height:1.23em;
		color:#808080;
		padding:5px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:none;
		background:#fff;
		outline:none;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
	}
	#contact-form textarea {
		float:left;
		height:380px; 
		width:489px;
		max-height:380px; 
		max-width:489px;
		min-height:380px; 
		min-width:489px;
		font-size:12px; 
		line-height:1.25em;
		color:#808080;
		padding:5px 10px; 
		margin:0; 
		font-family:Arial, Helvetica, sans-serif; 
		border:none;
		background:#fff;
		overflow:auto;
		outline:none;
		border-radius:2px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
	}
.text-form {
	float:left; 
	display:block; 
	font-size:13px;
	line-height:26px;
	width:70px; 
	color:#7f7f7f;
	font-family:Arial, Helvetica, sans-serif;
}

.buttons {padding:20px 10px 0 0; text-align:right;}
.buttons a {margin-left:15px; padding:5px 32px 6px;}

#noticias, #principal,#secundario, #publicidad{
  
 padding: .5em;
  
}

#secundario,#principal{
  padding: 1px;
}

#publicidad{
  margin-top: 1em;
}

#pie{
  padding-top: .5em;
  padding-bottom: .5em;
  margin-top: 1em;
}
.articulo{
  padding: 1em;
}
.articulo img{
  
  width: 34em;
  height: 22em;
  margin-bottom: 1em;
}
#menu{
border-bottom: 1px solid #004C99;  
}
#noticias{
  border: 1px solid #C5C5C5;
}
#publicidad{
  border: 1px dashed #CC6600;
}

#secundario{
 
  border: 1px solid #C5C5C5;
   
}
#myvideo{
margin-bottom:30px;
width: 700px;
    height: 400px;
}
		
/****************************footer************************/
footer {
	width:100%; 
	padding:0 0 40px;
	text-align:center;
}
	footer span {display:block;}
        
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
        
        

        